# Dependencies
/node_modules
/venv
venv/
.env

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code cache/options directory
.vscode/*

# Python Tools for Visual Studio (PTVS)
__pycache__/
__pycache__

# Others
media/
media/icones/*.jpeg
migrations/